
README.md~
.README.md.un~
osuReplays/settings.json~
osuReplays/.settings.json.un~
.gitNotes.md.un~
gitNotes.md~
osuReplays/danser-0.5.2-win/settings.json~
osuReplays/danser-0.5.2-win/libwinpthread-1.dll
osuReplays/danser-0.5.2-win/danser.log
osuReplays/danser-0.5.2-win/danser.exe
osuReplays/danser-0.5.2-win/danser.db
osuReplays/danser-0.5.2-win/bassmix.dll
osuReplays/danser-0.5.2-win/bassenc.dll
osuReplays/danser-0.5.2-win/bass_fx.dll
osuReplays/danser-0.5.2-win/bass.dll
osuReplays/danser-0.5.2-win/assets.dpak
osuReplays/danser-0.5.2-win/.settings.json.un~
osuReplays/.recordDanser.bat.un~
osuReplays/recordDanser.bat~
osuReplays/danser-0.5.2-win/videos/danser_2021-06-20_12-05-53.mp4
